[user]
  name = Cabe Branson
  email = 1258606+bitmap@users.noreply.github.com
[core]
  ignorecase = false
  editor = vim
  pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
  it = !git init && git commit -m "root" --allow-empty
  got = pull --rebase origin
  please = push --force-with-lease
  forget = checkout --
  amend = commit --amend
  recommit = commit --amend --no-edit
  uncommit = reset --soft HEAD^
  fucked = reset --hard HEAD
  hoard = stash --include-untracked
  lg = log --color --graph --decorate --pretty=shortlog --abbrev-commit --max-count=25
  last = log --abbrev-commit HEAD^..HEAD
[color]
  ui = true
[color "branch"]
  current = 3 reverse
  local = 3
  remote = 6
[color "status"]
  added = 2
  changed = 3
  untracked = 6
  unmerged = 1
[commit]
  verbose = true
[pull]
  rebase = false
[push]
  default = simple
[credential]
  helper = osxkeychain
[include]
  gitlab = .gitlab/.gitconfig
[pretty]
	shortlog = format:%C(yellow)%h %Cgreen[%cr] %C(blue)<%an>%Creset -%Creset %<(50,trunc)%s%C(white)%d%Creset
[init]
	defaultBranch = main
