# OS junk
.DS_Store
._*
.Spotlight-V100
.Trashes
Desktop.ini
Thumbs.db

# env
.env
.env*

# Node.js
node_modules

# Common build dirs
dist
build
out
.next
.cache

# Test coverage dirs
coverage
.coverage

# Vim
*.swp
*.vi

# Log files
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Visual Studio Code
.vscode

# Homebrew lock file
Brewfile.lock.json
